.body{
  background-color: black;
}

#box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: beige;
  margin-top: 10%;
  margin-bottom: 9%;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 50px;
  border-style: solid;
  border-color: bisque;
}

.button{
  display: flex;
}
#welcome{
  font-size: clamp(5%,500%,1000%)
}

#b{
  height: 70px;
  width: 200px;
  border-radius: 10px;
  font-size: 150%;
}

#b1{
  height: 70px;
  width: 200px;
  border-radius: 10px;
  font-size: 130%;
}